<form action="">
  <fieldset>
    <legend>Informações do usuário</legend>
    <div class="mb-3">
      <label for="nome" class="form-label"><p><span>Nome</span>:</p></label>
        <input type="text" name="nome" id="nome" class="form-control">
    </div>
    
    <div class="mb-3">
      <label for="idade" class="form-label"><p><span>Idade</span>:</p></label>
        <input type="number" name="idade" id="idade" class="form-control">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label"><span>Email</span>:</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="exemplo@email.com">
    </div>

    <div>
      <label for="genero" class="form-label"><p><span>Genero</span>:</p></label>
        <input type="text" name="genero" id="genero" class="form-control">
    </div>

    <div>
      <label for="cidade" class="form-label"><p><span>Cidade</span>:</p></label>
        <input type="text" name="cidade" id="cidade" class="form-control" placeholder="Brasília">
    </div>
  </fieldset>
    
  <fieldset>
    <legend>Informações sobre a sua experiência em programação</legend>
    <label for="liguagens" class="form-label"><p><span>Quais linguagens você programa</span>:</label>
      <textarea name="linguagens" id="linguagens" class="form-text" placeholder="JavaScript, Python, c++"></textarea>

    <p><span>Já foi para algum evento de programação</span>:</p>
      <div class="form-check disabled">
        <input type="radio" name="evento" id="eventoSim" class="form-check-input" value="sim">
        <label for="eventoSim" class="form-check-label">Sim</label>
      </div>

      <div class="form-check disable">
        <input type="radio" name="evento" id="eventoNao" class="form-check-input" value="nao">
        <label for="eventoNao" class="form-check-label">Não</label>
      </div>

    <input type="submit" value="Concluir" class="btn btn-primary">
  </fieldset>
</form>