<form action="">
  <fieldset>
    <legend>Informações do usuário</legend>
    <label for="nome"><p><span>Nome</span>:</p></label>    
      <input type="text" name="nome" id="nome">
    
    <label for="idade"><p><span>Idade</span>:</p></label> 
      <input type="number" name="idade" id="idade">
    
    <label for="liguagens"><p><span>Quais linguagens você programa</span>:</label>      
      <textarea name="linguagens" id="linguagens" value="JavaScript, Python, c++"></textarea>

    <label for="email"><span>Email</span>:</label>   
      <input type="email" name="email" id="email" placeholder="exemplo@email.com">

      <input type="submit" value="Concluir">
</fieldset>
</form>