*{
    margin: 0;
}


fieldset{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

label{
    margin-left: 10px;
    font-size: medium;
}

input, textarea{
    margin-bottom: 20px;
    border: 1px solid rgb(19, 18, 18);
}

textarea{
    height: 30px
}